<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <add connectionString="Data Source=VBOX01;Initial Catalog=nancybook;User ID=nancybook;Password=nancybook;MultipleActiveResultSets=True"
         name="nancydata"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <customErrors mode="Off"/>
    <httpRuntime targetFramework="4.5" />
    <httpHandlers>
      <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </httpHandlers>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <httpErrors existingResponse="PassThrough" />
    <handlers>
      <add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </handlers>
  </system.webServer>

</configuration>