<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nancy Demo | Data Binding Example</title>
    <link href="~/content/bootstrap.min.css" rel="stylesheet" type="text/css" />
  </head>

  <body>

    <div class="container">
      <div class="page-header">
        <h1 style="display: inline-block">Nancy Demo <small>Data Binding Example</small>
        </h1>
        <h1 style="display: inline-block" class="pull-right"><small><a href="~/" title="Click to return to demo home page">home <span class="glyphicon glyphicon-home"></span></a></small>
        </h1>
      </div>

      <h3 class="text-danger">Unfortunately something went wrong trying to bind to the inbound data, and Nancy was unable to bind to your object.</h3>

      <a href="~/address" class="btn btn-primary">Go back to the input form</a>

    </div>

  </body>
</html>
