<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NancyFX Demo Site</title>
    <link href="~/content/bootstrap.min.css" rel="stylesheet" type="text/css" />
  </head>

  <body>

    <div class="container">

      <div class="row">
        
        <div class="col-md-12 text-center">
          <h1>Welcome to the NancyFX demo site</h1>
          <p class="lead">This site was built to demonstrate the capabilities provided by the NancyFX .NET web framework.</p>
          <p>It was designed to accompany the book "NancyFX Succinctly" published by Syncfusion which can be downloaded for free at:</p>
        </div>

        <div class="col-md-12 text-center">
          <h4>
            <a href="https://www.syncfusion.com/resources/techportal/details/ebooks/nancyfx" target="_blank">https://www.syncfusion.com/resources/techportal/details/ebooks/nancyfx</a>
          </h4>
          <br/>
          <br/>
        </div>

        <div class="col-md-12 text-center">
          <img src="~/images/nancylogo.png" alt="NancyFX Logo"/>
        </div>

        <div class="col-md-12 text-center">

          <h3 class="text-success">Please note, this demo app requires a fairly recent HTML5 capable browser as it uses some of the newer features found in the newer browsers</h3>
          <h4 class="text-danger">It may not run correctly in anything less than IE10 or Chrome/Firefox older than mid 2014</h4>

          <br/>
          <br/>

          <div class="btn-group btn-group-justified">
            <a class="btn btn-primary" href="~/mp3player">Run MP3 Player Sample</a>
            <a class="btn btn-primary" href="~/session">Run Session Data Sample</a>
            <a class="btn btn-primary" href="~/fluentvalidation">Run Fluent Validation Sample</a>
            <a class="btn btn-primary" href="~/caching">Run Caching Sample</a>
          </div>
          <br/>
          <div class="btn-group btn-group-justified">
            <a class="btn btn-primary" href="~/auth">Run Authentication Sample</a>
            <a class="btn btn-primary" href="~/address">Data Bind Sample</a>
            <a class="btn btn-primary" href="~/file">File Types Sample</a>
          </div>

        </div>

      </div>
    </div>

    <script src="~/scripts/jquery-2.1.3.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
  </body>

</html>
