<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Nancy Demo | Authentication Example</title>
  <link href="~/content/bootstrap.min.css" rel="stylesheet" type="text/css"/>
</head>

<body>

<div class="container">
  <div class="page-header">
    <h1 style="display: inline-block">Nancy Demo <small>Authentication Example</small>
    </h1>
    <h1 style="display: inline-block" class="pull-right"><small><a href="~/" title="Click to return to demo home page">home <span class="glyphicon glyphicon-home"></span></a></small>
    </h1>
  </div>

  <p class="lead">This is a secure page, if you try to access this without being logged in, you should get an access denied error, or sent to the login form.</p>
  <p>Once your logged in, you can <a href="~/account/logout">Click Here</a> to log back out.</p>

</div>

<script src="~/scripts/jquery-2.1.3.min.js"></script>
<script src="~/scripts/bootstrap.min.js"></script>

</body>

</html>
