<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Nancy Demo | Fluent Validator Example</title>
  <link href="~/content/bootstrap.min.css" rel="stylesheet" type="text/css"/>
</head>

<body>

<div class="container">
  <div class="page-header">
    <h1 style="display: inline-block">Nancy Demo <small>Fluent Validation Example</small></h1>
  </div>

  <h3 class="text-success">Congratulations, you validated the form successfully</h3>
  <h4><a href="~/fluentvalidation">Go back to the demo form</a></h4>

</div>

<script src="~/scripts/jquery-2.1.3.min.js"></script>
<script src="~/scripts/bootstrap.min.js"></script>
</body>

</html>
